h1 {
  color: #f7edb4;
  /* color: #f2e9b8; */
  font-size: 7em;
  font-family: 'Kaushan Script', cursive;
  /* font-family: 'Pacifico', cursive; */
  /* font-family: 'Marck Script', cursive; */
  /* font-family: 'Yellowtail', cursive; */
  /* font-family: 'Damion', cursive; */
  text-align: center;
}

body {
  background-image: url(../img/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #f7edb4;
  font-family: 'Kaushan Script', cursive;
}

.container {
  background: rgba(255,255,255, 0.2);
  padding: 2%;
}
