h1 {
  color: #f7edb4;
  font-size: 7em;
  font-family: 'Kaushan Script', cursive;
  text-align: center;
}

body {
  background-image: url(../img/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: black;
  font-size: 20px;
  font-family: 'Kaushan Script', cursive;
}

img {
  width: 60%;
}

h2 {
  background: rgba(255,255,255, 0.6);
  padding: 5%;
}

.row {
  background: rgba(255,255,255, 0.4);
  padding: 3%;
}

button {
  margin-top: 45%;
  float: right;
}

#output-area {
  display: none;
  font-size: 25px;
  font-weight: bold;
  text-align: right;
  margin-top: 10%;
}
